.split-screen {
  display: flex;
  height: 100vh; /* Use the full height of the viewport */
}

.left-pane {
  background-color: white;
  color: #095d7e;
  padding: 150px;
  flex: 1;
  overflow: auto;
}

.right-pane {
  background-color: #095d7e;
  color: white;
  padding: 150px;
  flex: 1;
  overflow: auto;
}
